.latitude-button-wrapper {
    padding-top: 40px;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px;
    width: 70%;
    border-radius: 20px;
}

.custom-input-wrapper {
    width: 20%;
    margin: auto;
}