.TermsOfUsePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.tos {
    text-align: center;
    width: 70%;
    height: fit-content;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 3px;
    margin: auto;
    margin-top: 170px;
    padding: 3%;
    color: white;
    vertical-align: middle;
}

.tos h3 {
    font-size: 16px;
    line-height: 25px;
    font-weight: normal;
    text-align: left;
}

.tos a {
    color: #fed136;
}

.tos a:visited {
    color: #fed136;
}