.model-selection-wrapper {
    width: 100%;
}

.model-button {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 10px;
    padding: 5px;
    width: 500px;
    height: 40px;
    cursor: pointer;
    
    /*
    color: white;
    background-color: rgb(78, 78, 78);
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6); 
    */
}

.model-button-label{
    margin: 2px;
}

.radio-icon-wrapper {
    margin: 2px;
    display: flex;
    /*
    color: #fed136;
    */
}

.more-info-button {
    margin-left: auto;
    height: 23px;
    width: 23px;
}

.more-info-button:hover {
    border-radius: 100%;
    background-color: rgb(255, 255, 255, .2);
}