.model-selection-wrapper {
    width: 100%;
}

.model-button {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 10px;
    padding: 0px;
    width: 500px;
    height: 45px;
    cursor: pointer;
}

.model-button-opened {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: top;
    margin: 10px;
    padding: 0px;
    width: 500px;
    height: 90px;
    cursor: pointer;
}

.model-button span {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    width: 100%;
    padding: 5px;
}

.model-button-opened span {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    width: 100%;
    padding: 5px;
}

.model-button-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
}

.model-button-label{
    margin: 2px;
}

.radio-icon-wrapper {
    margin: 2px;
    display: flex;
    /*
    color: #fed136;
    */
}

.more-info-button {
    margin-left: auto;
    height: 23px;
    width: 23px;
}

.more-info-button:hover {
    border-radius: 100%;
    background-color: rgb(114, 114, 114);
}

.model-button-moreInfo {
    padding-left: 8px;
}