.App {
  text-align: center;
}

#cookies-learn-more {
  color: #fed136;
}

#cookies-learn-more:visited {
  color: #fed136;
}

.CookieConsent {
  bottom: 0px !important;
}

.CookieConsent ~ .CookieConsent {
  bottom: 54px !important;
}