.ManipulationPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 84px;
}

.bk-root {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 10px;
}

.plot-and-download-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px;
    width: 96%;
    height: 82vh;
    border-radius: 5px;
}

.plot-type {
    color: #fed136;
}

.plot-section-wrapper {
    color: white
}

.plot-section-wrapper h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.plot-section-wrapper h3 {
    font-weight: normal;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.plot-section-wrapper a {
    text-decoration: none;
    padding: 5px;
    background-color: #fed136;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


