.plot-selection-wrapper {
    background-color: rgb(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px;
    width: 70%;
}

.radio-list {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
}

.radio-list-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    width: 30%;
}

.radio-item-label{
    margin: 2px;
}

.radio-icon-wrapper {
    margin: 2px;
    display: flex;
}